@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/chatfixed.scss";


.register-form{
    height: 660px;
    width: 700px;
    margin: 30px auto 0;
    .form-title{
        height: 30px;
        margin: 20px auto 40px;
        width: 100%;
        position: relative;
        text-align: center;
        h3{
            font: inherit;
            background: none repeat scroll 0 0 #fff;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin: 0 auto;
            padding: 0 4%;
            position: relative;
            font-size: 30px;
        }
    }
    .form-title::before{
        background-color: #b7b7b7;
        content: "";
        height: 1px;
        left: 1.5%;
        position: absolute;
        top: 15px;
        width: 97%;
    }
    
    .message-box{
        position: relative;
        font-size: 13px;
        line-height: 20px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        i{
            line-height: 60px;
            font-style: normal;
            width: 20%;
        }
        input{
            margin: 10px 0 25px 0;
            max-height: 40px;
            position: relative;
            min-height: 40px;
            width: 80%;
            height: 40px;
            line-height: 30px;
            padding: 5px 5px 5px 18px;
            box-sizing: border-box;
            background-color: #FFF;
            outline: none;/*去掉input获取焦点时的边框*/  
        }
        span{
            display: none;
            position: absolute;
            top: 50%;
            margin-top: -16px;
            right: -220px;
            height: 14px;
            width: 200px;
            line-height: 14px;
            font-size: 12px;
            z-index: 0;
        }
        .gender-box{
            line-height: 40px;
            margin: 10px 0 25px 0;
            max-height: 40px;
            position: relative;
            width: 80%;
            min-height: 40px;
            
            .gender{
                color: #000;
                cursor: pointer;
                float: left;
                text-align: left;
                text-indent: 30px;
                width: 50%;
                position: relative;
            }
            .gender::before{
                border: 1px solid #999;
                content: "";
                height: 14px;
                left: 0;
                position: absolute;
                width: 14px;
                top: 50%;
                margin-top: -7px;
            }
            //直接写before
            .choose::before{
                background: url("/static/images/cart-sprite1.png") no-repeat scroll -3px -181px transparent;
                border: 2px solid #000;
                width: 18px;
                height: 18px;
                margin-top: -10px;
            }
            
        }
        
        .law-box{
            width: 100%;
            font-size: 11px;
            margin-bottom: 10px;
            a{
                text-decoration: underline;
                color: #333;
            }
        }
        #register-btn{
            background-color: #000;
            color: #fff;
            cursor: pointer;
            font-size: 18px;
            height: 40px;
            line-height: 38px;
            text-align: center;
            width: 100%;
            border: 1px solid #000;
            box-sizing: border-box;
        }
        #register-btn::after{
            background: url("/static/images/sprites_header_footer.png") no-repeat scroll -10px -164px transparent;
            width: 15px;
            height: 28px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 12px;
            content: "";
        }
        #register-btn:hover{
            color: #000;
            background: #FFFFFF;
        }
        #register-btn:hover::after{
            background: url("/static/images/sprites_header_footer.png") no-repeat scroll -43px -164px transparent;
        }
        
    }
    .register-btn-wrap{
        flex-flow: column;
    }
}
.error{
    display: block;
    color: red;
    border-color: red;
}
